@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  @apply font-sans;
}

  html, * {
    scroll-behavior: smooth;
    @apply font-sans;
  }
  
  
  body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #e1e1e1 transparent;   /* scroll thumb and track */
  }
  
  @keyframes grow-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animation {
    animation: grow-animation 3s infinite;
    transform-origin: center center;
  }
  
  /* Só funciona dentro de um container com width definido */
  .reticencias-texto {
    @apply whitespace-nowrap overflow-clip text-ellipsis;
  }

  .input-padrao {
    @apply border w-full border-blue-200 outline-none focus:border-blue-500 rounded-md p-2 text-sm;
  }

  .button {
    @apply py-1 px-4 rounded font-semibold;
  }
  
  .botao-azul {
    @apply text-white bg-blue-500 hover:bg-blue-600 hover:font-semibold rounded-md;
  }
  .botao-verde {
    @apply text-white bg-green-500 hover:bg-green-600 font-semibold rounded-md;
  }

  .botao-cinza {
    @apply text-neutral-500 hover:bg-neutral-300 rounded-md hover:text-neutral-600 hover:font-semibold flex items-center justify-center cursor-pointer;
  }

  .botao-border-azul {
    @apply text-blue-500 bg-none border border-blue-500  hover:bg-blue-500 hover:text-white rounded-md;
  }

  .slide-in-right {
    animation: slideInRight 200ms ease-out forwards;
  }
  .slide-back-right {
    animation: slideInRight 200ms ease-out reverse;
  }
  
  
  /* Definindo a animação */
  @keyframes slideInRight {
    0% {
      transform: translateX(100%); /* Começa fora da tela pela direita */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Elemento entra na tela */
      opacity: 1;
    }
  }